.fontBord{font-weight:bold;}
.fsxxl{font-size:xx-large;}
.bgLightYellow{background-color:#FDF5D9!important;}
.bgLightRed{background-color:#FDDFDE!important;}
.bgLightGreen{background-color:#D1EED1!important;}
.bgLightBlue{background-color:#DDF4FB!important;}
.bgLightGrey{background-color:#F5F5F5!important;}
.bgYellow{background-color:#D2B852!important;}
.bgRed{background-color:#C00!important;}
.bgGreen{background-color:#57A957!important;}
.bgBlue{background-color:#0064CD!important;}
.bggrey{background-color:grey!important;}
.bgBlack{background-color:#000!important;}
.colorWhite{color:#fff!important;}
.tdn{text-decoration:none;}
.valignMiddle{vertical-align:middle;}
.ps{padding:5px;}
.marginTop{margin-top:10px;}
.pt{padding-top:10px;}
.pb{padding-bottom:10px;}
.pr{padding-right:10px!important;}
.pl{padding-left:10px;}
.ptll{padding-top:20px;}
.borderTop{border-top:1px#cccsolid!important;}
.l{float:left;}
.left{float:left;}
.c{clear:both;}
.positionR{position:relative;}
.posr{position:relative;}
.block{display:block;}
.ib{display:inline-block;}
.lsn{list-style:noneoutsidenone;}
.body{height:100%;width:100%;}
.header{height:30px;}
.headerBlue{background:#0c4a85;border-bottom:1pxsolid#0c4a85;width:100%;}
.headerM{height:70px;}
.headerGrey{background:#F5F5F5;border-bottom:1pxsolid#E5E5E5;}
.headerLink{color:#fff;height:30px;line-height:30px;}
.headerLinkBlue{background-color:#12589a;color:#fff;}
.content{padding:02px;}
.sidebar{width:200px;}
.category{padding-left:5px;font-size:1.5em;margin-top:5px;}
.mainRight{margin-left:220px;}
.footer{background:#F2F2F2;}
.socialFooter{background:none;}
.body{width:100%;}
.l{float:none!important;}
.left{float:none!important;}
.header{width:100%;}
.headerM{width:100%;}
.mainRight{margin:0;}
.socialFooter{width:100%;}
.container{width:100%;margin:0;}
.sidebar{width:100%;}
.headerM{height:auto;min-height:70px;padding-bottom:2px;}
.css3_roundS{-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;}
