html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

a {
    outline: none;
    -webkit-transition: color 0.2s ease;
    -moz-transition: color 0.2s ease;
    -ms-transition: color 0.2s ease;
    -o-transition: color 0.2s ease;
    transition: color 0.2s ease;
    text-decoration: none;
}

body {
    background: #454545;
    color: #fff;
    font: 300 100% "Open Sans", Helvetica, "Arial Unicode MS", Arial, sans-serif;
    overflow-y: auto;
}

#container {
   position: absolute;
   top: 50%;
   margin-top: -260px;
   left: 0;
   width: 100%;
   z-index: -1;
}

#holder {
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    position: relative;
    width: 500px;
    background: #454545;
}

#copy {
    bottom: 0;
    font: 300 1em "Open Sans", Helvetica, "Arial Unicode MS", Arial, sans-serif;
    position: fixed;
    right: 1em;
    text-align: right;
}

#headline {
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-left: 14px;
    font-size: 24px;
    font-weight: 300;
    color: #8CC84B;
    opacity: .9;
}

#headline span {
    font-weight: 700;
}

#copy a {
    color: #cfcfcf;
    -webkit-user-select: none;
}

#copy a:hover {
    color: #0cf;
}

.controls {
    margin: 80px auto;
    position: relative;
}

.axis path,
.axis line {
  fill: none;
  stroke: #fff;
  shape-rendering: crispEdges;
}

.y.axis {
    stroke-width: 1px;
}
.y text {
    fill: #fff;
}

[class^="pie-"]{
    fill-opacity:.85;
    -webkit-transition: fill 0.2s  ease-in-out;
    -moz-transition: fill 0.2s  ease-in-out;
    -ms-transition: fill 0.2s  ease-in-out;
    -o-transition: fill 0.2s ease-in-out;
    transition: fill 0.2s ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.pie-selected {
    stroke: rgba(255,255,255,.6);
    stroke-width: 4
}

.pie-1 {fill: #5ACF31} .pie-1-hover{fill:#85ff48}
.pie-2 {fill: #FD898B} .pie-2-hover{fill:#ffcacd}
.pie-3 {fill: #5095A8} .pie-3-hover{fill:#76dcf8}
.pie-4 {fill: #57666F} .pie-4-hover{fill:#8097a4}
.pie-5 {fill: #FF9449} .pie-5-hover{fill:#ffdb6c}
.pie-6 {fill: #46BEF3} .pie-6-hover{fill:#67ffff}
.pie-7 {fill: #B68358} .pie-7-hover{fill:#ffc182}
.pie-8 {fill: #008375} .pie-8-hover{fill:#00c1ad}
.pie-9 {fill: #D786BE} .pie-9-hover{fill:#ffc6ff}
.pie-10 {fill: #E9E9EB} .pie-10-hover{fill:#ffffff}
